
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inria serif', serif;
    line-height: 1.5;
    background-color: #c5a0ccb9;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.text-box {
    border:2px solid #eedff1b9;
    padding:10px;
    margin:30px auto;
    width:80%;
    background-color:#f5ecf7b9;
    text-align:center;
}

@media (max-width: 768px) {
    .text-box {
        width: 90%; 
        padding: 15px;
        margin: 10px auto; 
    }
}

header {
    background-color: #565353;
    color: #fff;
    padding: 10px 0;
}

.desktop-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none; 
    }

    .mobile-menu {
        display: block;
    }

    .text-box {
        width: 90%;
        padding: 15px;
    }

    nav ul {
        flex-direction: column; 
    }

    nav ul li {
        margin: 10px 0; 
    }
}

.mobile-nav-links {
    display: none;
    background-color:#565353;
}

.mobile-nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.show {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1; 
}

.image-container {
    max-width: 100%; 
    margin: 0 auto;
}

.styled-image1 {
    width: 100%;     
    height: auto;     
    display: block;   
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-image2 {
    width: 100%;      
    height: auto;   
    display: block;  
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-image3 {
    width: 100%;      
    height: auto;     
    display: block;   
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #565353;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

.intro, .about, .portfolio {
    margin: 20px auto;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
}